# Ignore Python virtual environments
venv/

# Ignore system & Python cache files
__pycache__/
*.py[cod]
.DS_Store

# Ignore credentials
credentials.json

# Ignore OS files 
.DS_Store

.streamlit/secrets.toml

# Ignore GCP 
gcp_key.json .streamlit/secrets.toml
gcp_key.json
gcp_key.json
